.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.posts-grid {
  display: grid;
  justify-content:center;
  align-items: center;
  /*gap:10px; */
  grid-template-columns: repeat(2, .25fr);
}

.text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.homepage-post-title {
  height: 75px;
  overflow: hidden;
}

.homepage-post-text {
  height:100px;
  overflow:hidden;
  text-overflow: ellipsis;
  
}

.full-post-form {
  margin-top: 20px;
}

.full-post-text {
  width: 60vw;
}

.full-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
